<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Представления</title>
    <link rel="icon" type="image/png" href="/favicon_tent.png">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body class="container mt-4">

<h2 class="mb-4" style="text-align: center;">Афиша</h2>

<!-- Навигационные кнопки -->
<div class="mb-4 d-flex gap-2 flex-wrap">
    <!-- Видны для EMPLOYEE, BOSS, SUPER_ADMIN -->
    <a sec:authorize="hasAnyRole('SUPER_ADMIN','BOSS','EMPLOYEE')"
       href="/performances" class="btn btn-primary">Афиша</a>

    <a sec:authorize="hasAnyRole('SUPER_ADMIN','BOSS','EMPLOYEE')"
       href="/humanActs" class="btn btn-secondary">Номера</a>

    <a sec:authorize="hasAnyRole('SUPER_ADMIN','BOSS','EMPLOYEE')"
       href="/animalActs" class="btn btn-secondary">Номера с животными</a>

    <a sec:authorize="hasAnyRole('SUPER_ADMIN','BOSS','EMPLOYEE')"
       href="/animals" class="btn btn-secondary">Животные</a>

    <!-- Видны только для BOSS и SUPER_ADMIN -->
    <a sec:authorize="hasAnyRole('SUPER_ADMIN','BOSS')"
       href="/employees" class="btn btn-secondary">Сотрудники</a>

    <a sec:authorize="hasAnyRole('SUPER_ADMIN','BOSS')"
       href="/tickets" class="btn btn-secondary">Билеты</a>

    <a sec:authorize="hasRole('SUPER_ADMIN')"
       class="btn btn-secondary" href="/users">User Control</a>
</div>

<!-- Кнопка показа/скрытия фильтра по датам -->
<button class="btn btn-info mb-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#dateFilterCollapse"
        aria-expanded="false"
        aria-controls="dateFilterCollapse">
    Фильтр по дате
</button>

<!--<button class="btn btn-info mb-3"-->
<!--        type="button"-->
<!--        data-bs-toggle="collapse"-->
<!--        data-bs-target="#dateFindCollapse"-->
<!--        aria-expanded="false"-->
<!--        aria-controls="dateFindCollapse">-->
<!--    Поиск по дате-->
<!--</button>-->

<!-- Кнопка показа/скрытия сортировки по Revenue (только BOSS и SUPER_ADMIN) -->
<button sec:authorize="hasAnyRole('SUPER_ADMIN','BOSS')"
        class="btn btn-info mb-3 ms-2"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#revenueFilterCollapse"
        aria-expanded="false"
        aria-controls="revenueFilterCollapse">
    Сортировка по прибыли
</button>

<!--<div class="collapse mb-4"-->
<!--     id="dateFindCollapse">-->
<!--    <div class="card">-->
<!--        <div class="card-body">-->
<!--            <form method="get" action="/performances" class="row g-3 align-items-end">-->
<!--                <div class="col-md-4">-->
<!--                    <label class="form-label">По дате:</label>-->
<!--                    <input type="datetime-local" name="byDate" class="form-control"-->
<!--                           th:value="${byDate}"/>-->
<!--                </div>-->

<!--                <div class="col-md-4 d-flex gap-2">-->
<!--                    <button type="submit" class="btn btn-primary">Поиск</button>-->
<!--                    <a th:href="@{/performances}"-->
<!--                       class="btn btn-secondary">Очистить</a>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- Форма поиска по датам (изначально скрыта) -->
<div class="collapse mb-4"
     id="dateFilterCollapse"
     th:classappend="${fromDate} != null or ${toDate} != null ? ' show' : ''">
    <div class="card">
        <div class="card-body">
            <form method="get" action="/performances" class="row g-3 align-items-end">
                <div class="col-md-4">
                    <label class="form-label">От даты:</label>
                    <input type="datetime-local" name="fromDate" class="form-control"
                           th:value="${fromDate}"/>
                </div>

                <div class="col-md-4">
                    <label class="form-label">До даты:</label>
                    <input type="datetime-local" name="toDate" class="form-control"
                           th:value="${toDate}"/>
                </div>

                <div class="col-md-4 d-flex gap-2">
                    <button type="submit" class="btn btn-primary">Поиск</button>
                    <a th:href="@{/performances(sortBy=${sortBy})}"
                       class="btn btn-secondary">Очистить</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Сортировка по Revenue (отдельный блок, только BOSS и SUPER_ADMIN) -->
<div sec:authorize="hasAnyRole('SUPER_ADMIN','BOSS')"
     class="collapse mb-4"
     id="revenueFilterCollapse">
    <div class="card">
        <div class="card-body">
            <label class="form-label">Сортировка по доходу</label>
            <div class="btn-group" role="group">
                <a th:href="@{/performances(fromDate=${fromDate}, toDate=${toDate}, sortBy='revenue_asc')}"
                   class="btn btn-sm"
                   th:classappend="${sortBy == 'revenue_asc'} ? 'btn-info active' : 'btn-info'">
                    По возрастающей
                </a>
                <a th:href="@{/performances(fromDate=${fromDate}, toDate=${toDate}, sortBy='revenue_desc')}"
                   class="btn btn-sm"
                   th:classappend="${sortBy == 'revenue_desc'} ? 'btn-info active' : 'btn-info'">
                    По убывающей
                </a>
                <a th:href="@{/performances(fromDate=${fromDate}, toDate=${toDate})}"
                   class="btn btn-sm"
                   th:classappend="${sortBy == null} ? 'btn-info active' : 'btn-info'">
                    Убрать сортировку
                </a>
            </div>
        </div>
    </div>
</div>


<div th:if="${message}" class="alert alert-info text-center" th:text="${message}"></div>

<table class="table table-bordered table-striped align-middle">
    <thead class="table-dark">
    <tr>
        <!-- Id только SUPER_ADMIN -->
        <th sec:authorize="hasRole('SUPER_ADMIN')">Id</th>

        <!-- Общие колонки (Date, Main Artist, Duration) для всех -->
        <th style="width: 20%">Название</th>
        <th style="width: 20%">Дата</th>
        <th style="width: 10%">Главный артист</th>
        <th style="width: 10%">Длительность(мин.)</th>
        <th style="width: 10%">Описание</th>

        <!-- status: SUPER_ADMIN и EMPLOYEE и BOSS (через hasAnyRole) -->
        <th sec:authorize="hasAnyRole('SUPER_ADMIN','EMPLOYEE','BOSS')" style="width: 10%">Статус</th>

        <!-- revenue: SUPER_ADMIN и BOSS -->
        <th sec:authorize="hasAnyRole('SUPER_ADMIN','BOSS')" style="width: 10%">Доход</th>

        <!-- Действия (редактирование/удаление) оставим, например, только SUPER_ADMIN и BOSS -->
        <th sec:authorize="hasAnyRole('SUPER_ADMIN','BOSS')" style="width: 10%">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="performance : ${performances}">

        <!-- Режим редактирования выбранной строки -->
        <th:block th:if="${performance.id == editingId}">
            <td sec:authorize="hasRole('SUPER_ADMIN')"
                th:text="${performance.id}">1
            </td>

            <td colspan="6">
                <form th:action="@{/performances/save}" th:object="${performance}"
                      method="post" class="row g-2 align-items-center">
                    <input type="hidden" th:field="*{id}"/>

                    <div class="col-md-3">
                        <input type="text" class="form-control"
                               th:field="*{name}" placeholder="Performance name" required/>
                    </div>

                    <div class="col-md-3">
                        <input type="datetime-local" class="form-control"
                               th:field="*{dateTime}" required/>
                    </div>

                    <div class="col-md-3">
                        <select class="form-select" th:field="*{mainArtist}" required>
                            <option th:each="artist : ${artists}"
                                    th:value="${artist.id}"
                                    th:text="${artist.fullName}">Lion
                            </option>
                        </select>

                    </div>

                    <div class="col-md-2">
                        <input type="number" class="form-control"
                               th:field="*{durationMinutes}" placeholder="Duration (min)"
                               min="1" required/>
                    </div>

                    <!-- Описание -->
                    <div class="col-12 mt-2">
                        <label class="form-label">Описание</label>
                        <textarea class="form-control"
                                  th:field="*{description}" rows="3"
                                  placeholder="Введите описание"></textarea>
                    </div>

                    <!-- Поле status (true/false) -->
                    <div class="col-md-2">
                        <select class="form-select" th:field="*{status}">
                            <option th:value="false">запланировано</option>
                            <option th:value="true">проведено/отменено</option>
                        </select>
                    </div>

                    <div class="col-md-1 d-flex gap-2">
                        <button type="submit" class="btn btn-success btn-sm">Сохранить</button>
                        <a th:href="@{/performances}" class="btn btn-secondary btn-sm">Отменить</a>
                    </div>
                </form>
            </td>
        </th:block>

        <!-- Обычный режим просмотра -->
        <th:block th:if="${editingId == null or performance.id != editingId}">
            <!-- Id только SUPER_ADMIN -->
            <td sec:authorize="hasRole('SUPER_ADMIN')"
                th:text="${performance.id}">1
            </td>

            <!-- Общие поля для всех -->
            <td th:text="${performance.name}">Name</td>
            <td th:text="${#temporals.format(performance.dateTime, 'dd.MM.yyyy HH:mm')}">
                07.12.2025 17:45
            </td>
            <td th:text="${performance.mainArtist.fullName}">Artist Name</td>
            <td th:text="${performance.durationMinutes}">60</td>

            <td>
                <button type="button"
                        class="btn btn-info btn-sm"
                        data-bs-toggle="modal"
                        data-bs-target="#descriptionModal"
                        th:attr="data-description=${performance.description}">
                    Описание
                </button>
            </td>

            <!-- status -->
            <td sec:authorize="hasAnyRole('SUPER_ADMIN','EMPLOYEE','BOSS')"
                th:classappend="${performance.status} ? 'text-danger' : 'text-success'"
                th:text="${performance.status} ? 'проведено/отменено' : 'запланировано'">
                запланировано
            </td>

            <!-- revenue -->
            <td sec:authorize="hasAnyRole('SUPER_ADMIN','BOSS')"
                th:text="${performance.revenue}">1000
            </td>

            <!-- Кнопки -->
            <td sec:authorize="hasAnyRole('SUPER_ADMIN','BOSS')">
                <a class="btn btn-warning btn-sm"
                   th:href="@{/performances/edit/{id}(id=${performance.id})}">Изменить</a>
                <a class="btn btn-danger btn-sm"
                   th:href="@{/performances/delete/{id}(id=${performance.id})}"
                   onclick="return confirm('Are you sure?')">Удалить</a>
            </td>
        </th:block>
    </tr>
    </tbody>
</table>

<div class="modal fade" id="descriptionModal" tabindex="-1"
     aria-labelledby="descriptionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="descriptionModalLabel">Описание</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body" id="descriptionModalBody">
                <!-- сюда будет подставляться текст -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Закрыть
                </button>
            </div>
        </div>
    </div>
</div>

<button
        sec:authorize="hasAnyRole('SUPER_ADMIN','BOSS')"
        type="button" class="btn btn-primary mb-3"
        data-bs-toggle="modal" data-bs-target="#performanceModal">
    Добавить представление
</button>

<div class="modal fade" id="performanceModal" tabindex="-1"
     aria-labelledby="performanceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/performances/save}" th:object="${performance}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="performanceModalLabel">Добавить представление</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" th:field="*{id}"/>

                    <div class="mb-3">
                        <label class="form-label">Название</label>
                        <input type="text" class="form-control" th:field="*{name}" required/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Дата и время</label>
                        <input type="datetime-local" class="form-control"
                               th:field="*{dateTime}" required/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Главный артист</label>
                        <select class="form-select" th:field="*{mainArtist}" required>
                            <option th:each="artist : ${artists}"
                                    th:value="${artist.id}"
                                    th:text="${artist.fullName}">Lion
                            </option>
                        </select>

                    </div>

                    <div class="mb-3">
                        <label class="form-label">Длительность(мин)</label>
                        <input type="number" class="form-control"
                               th:field="*{durationMinutes}" min="1" required/>
                    </div>


                    <div class="mb-3">
                        <label class="form-label">Описание</label>
                        <textarea class="form-control" th:field="*{description}"
                                  id="performanceDescription" rows="4"
                                  placeholder="Enter performance description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Отмена
                    </button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="mt-4 d-flex justify-content-between">
    <button type="button" class="btn btn-success mb-3"
            data-bs-toggle="modal" data-bs-target="#ticketModal">
        Купить билет
    </button>

    <a href="/logout" class="btn btn-secondary mb-3">Выйти из аккаунта</a>
</div>


<!-- Кнопка и модал для добавления нового Ticket -->

<div class="modal fade" id="ticketModal" tabindex="-1"
     aria-labelledby="ticketModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/tickets/save}" th:object="${ticket}" method="post" id="ticketForm">
                <input type="hidden" th:field="*{id}" id="ticketId"/>
                <input type="hidden" name="returnTo" value="performances"/>
                <div class="modal-header">
                    <h5 class="modal-title" id="ticketModalLabel">Купить билет</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <input type="hidden" th:field="*{id}"/>

                    <div class="mb-3">
                        <label class="form-label">Выберите представление</label>
                        <select class="form-select" th:field="*{performance}" required>
                            <option th:each="perf : ${performances}"
                                    th:value="${perf.id}"
                                    th:text="${perf.name}">Представление
                            </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Ваше ФИО</label>
                        <input type="text" class="form-control" th:field="*{customerName}" required/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Кол-во билетов</label>
                        <input type="number" min="1" class="form-control" th:field="*{viewersCount}" required/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Суммарная цена</label>
                        <input type="number" min="0" class="form-control" th:field="*{totalPrice}" required/>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Отмена
                    </button>
                    <button type="submit" class="btn btn-primary">Оплатить</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script th:inline="javascript">
    const descModal = document.getElementById('descriptionModal');
    descModal.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget; // кнопка, по которой кликнули
        const description = button.getAttribute('data-description') || 'No description';
        const body = descModal.querySelector('#descriptionModalBody');
        body.textContent = description;
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</body>
</html>
